<section id="pubs" style="min-height: 900px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Publications</h2>
            </div>
        </div>

        <div class="subtitle">Published</div>

        {% for pub in site.data.publications %}
        <div class="block">
            <div class="abstract">
                <img class="project_img" src="{{ pub.image }}">
                <div class="right">
                    <div class="research_title">{{ pub.title }}</div>
                    <p>{{ pub.abstract }}</p>
                </div>
            </div>
            <div class="publication">
                {% for author in pub.authors %}
                {% if author.is_self %}
                <span class="emph">{{ author.name }}</span>
                {% elsif author.link %}
                <a href="{{ author.link }}">{{ author.name }}</a>
                {% else %}
                {{ author.name }}
                {% endif %}
                {% unless forloop.last %}, {% endunless %}
                {% endfor %}
                ({{ pub.year }}) <b>{{ pub.title }}</b> <i>{{ pub.journal }}</i>
                <br><br>
                {% for link in pub.links %}
                (<a href="{{ link.url }}" target="_blank">{{ link.title }}</a>)
                {% unless forloop.last %} {% endunless %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}

        <!-- <div class="subtitle">Published </div> -->
    </div>
</section>