<!-- Services Section -->
<section id="services" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"></h2>
            </div>
        </div>

        <!-- FILEPATH: /Users/bumjunpark/Desktop/Personal/Website/agency/_includes/services.html -->
        <!-- BEGIN: ed8c6549bwf9 -->
        <embed src="img/BP_Resume_240323.pdf" width="100%" height="1370px" />
        <!-- END: ed8c6549bwf9 -->
        <!-- <embed type="application/pdf" src="img/BP_Resume_240323.pdf" width="100%" height="100%" /> -->

    </div>

</section>